<div class = "container">
    <form method = "POST" action = "">
        <% %>
        <div id = "createtask" style = "padding: 20px; background-color: lightgray; ">
            <h6 class = "mb-3">Welcome, <%= mockData.firstName%>!</h6>
            <input class = "form-control mb-3" name = "title" placeholder = "Add a task title and click 'Submit'. " />
            <input class = "form-control mb-3" name = "description" placeholder = "Add a task description and click 'Submit'. " />
            <button class = "btn btn-primary">Add Task</button>
        </div>
    </form>
</div>

<div class = "container">
    <div class = "row">
        <% mockData.todos.forEach((el, idx) => { %>
        <% if (!el.isCompleted) { %>
        <div class = "col-5 col-xs-12 m-4 d-flex task" style = "background-color: #387BE0" >
            <div style ="width: 93%; height: 200px">
                <h5 class = "mt-3 title" style="color: white; height: 50px">ToDo #<%= idx + 1%>: <%= el.title %></h5>
                <div class = "bg-white mb-2 desc" style="height: 60%">
                    <span><%= el.description %></span>
                </div>
            </div>
            <div>

                <form method = "POST", action = "?_method=DELETE">
                    <button class = "btn btn-danger m-3">
                        <span>X</span>
                    </button>
                </form>
                <div class="form-check m-3">
                    <input class="form-check-input position-static" type="checkbox" id="blank" value="option1" aria-label="...">
                </div>
            </div>
        </div>
        <% } else { %>
                <div class = "col-5 m-4 col-xs-12 d-flex task" style = "background-color: #A0E038" >
                    <div style ="width: 93%; height: 200px">
                        <h5 class = "mt-3 title" style="color: white; height: 50px">ToDo #<%= idx + 1%>: <%= el.title %></h5>
                        <div class = "bg-white mb-2 desc" style="height: 60%">
                            <span><%= el.description %></span>
                        </div>
                    </div>
                    <div>

                        <form method = "POST", action = "?_method=DELETE">
                            <button class = "btn btn-danger m-3">
                                <span>X</span>
                            </button>
                        </form>
                        <div class="form-check m-3">
                            <input checked class="form-check-input position-static" type="checkbox" id="blank" value="option1" aria-label="...">
                        </div>
                    </div>
                </div>
        <% } %>
        <% }) %>



    </div>
</div>